mixin btn(text)
    li.header-text= text

mixin icon(name)
    img(src=`src/${name}.svg`)

mixin catalogCard(arr)
    -
     let [title, url, imgName, ...text] = arr;
    .catalog-card
        .card-img
            img(src=`src/cards/${imgName}.png`)
        .card-text
            .card-text-wrap
                h2.card-text-title= title
                .card-text-list
                    if (text > 0)
                    each string in text
                        a.card-text-a(href=`${url}`)= string
            a.card-btn(href=`https://www.google.ru/`) показать все

mixin novelty(cards)
    -
     let {id, stars, text, imgName} = cards
    .novelty-card
        .novelty-card-top
            .novelty-card-top-left
                span Арктикул:
                    span=`${id}`
                .novelty-card-top-left-stars
                    - let i = 0;
                    while i < stars
                        img(src='src/filledStar.svg' alt=`${i++}`)
                    - i = 0;
                    while i < 5-stars
                        img(src='src/star.svg' alt=`${i++}`)
            .novelty-card-top-right
                img(src=`src/graph.svg`)
                img(src=`src/like.svg`)
        .novelty-card-body-img
            img(src=`src/${imgName}.png`)
        .novelty-card-body-text=text
        .novelty-card-body-buttons
            .novelty-card-body-buttons-counter
                div -
                div 1
                div +
            button.novelty-card-body-buttons-basket
                img(src='src/whiteBasket.svg')
                .novelty-card-body-buttons-basket-text в корзину

mixin news(card)
    -
        let {img, title, text} = card
    .news-card
        .news-card-img
            img(src=`src/${img}.jpg`)
        .news-card-body
            h2.news-card-body-title=`${title}`
            p.news-card-body-text=`${text}`

mixin footerDoubleColumnMenu(array)
    -
        let column1 = [], column2 = [];
        array.forEach(function(elem, index) {
            if (index % 2 === 0) {
                column1.push(elem);
            } else {
                column2.push(elem)
            }
        })
    .footer-upside-right-menu-column
        each item in column1
            .footer-upside-right-menu-item=`${item}`
    .footer-upside-right-menu-column
        each item in column2
            .footer-upside-right-menu-item=`${item}`



mixin footerSingleColumnMenu(array)
    each item in array
        ul.footer-menu-item=`${item}`



