mixin btn(text)
    li.header-text= text

mixin icon(name)
    img(src=`src/${name}.svg`)

mixin catalogCard(arr)
    -
     let title = arr[0];
     let url = arr[1];
     let imgName = arr[2];
     let text = arr.slice(3)
    .catalog-card
        .card-img
            img(src=`src/cards/${imgName}.png`)
        .card-text
            h2.card-text-title= title
            .card-text-list
                if (text > 0)
                each string in text
                    a.card-text-a(href=`${url}`)= string
            a.card-btn(href=`https://www.google.ru/`) показать все

